.flex {
    display: flex;
    &.row-flow{
        flex-flow: row;
    }
    &.column-flow{
        flex-flow: column;
    }
}

.btn{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}